.component{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    border-bottom: 2px solid grey;
    padding: 2%;
    background: linear-gradient(110deg, #1a35ca 60%, #ce18ce 60%);

}
.setname{
    color: bisque;
}
.adres{
    color: darkkhaki;
}
.name{
    color: #1b1e1f;
}
.img{
    
    width: 20rem;
    margin-left: 1rem;
    margin-top: .5rem;
}
body{
    margin-bottom: 3rem;
    width: 100%;
    
    
}
.image{
    height: 15rem;
    width: 20rem;
}
personal-detail{
    width: 22rem;
}
@media (min-width:700px){
    .component{
        flex-direction: row;
        justify-content: space-between;
    }
    .component .img{
       margin-right: 1rem;
    }
}